<% if logged_in? %>
    <h3><%= link_to "Get HALP", new_problem_path %></h3>
<% else %>
    <h3><%= link_to "Log in", new_login_path %> or <%= link_to "Register", new_user_path %> to get HALP!</h3>
<% end %>

<h3>So many problems...</h3>
<% @sorted_problems = @problems.sort_by(&:created_at) %>
<%= render @sorted_problems %>

<br>

